.filmCont{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: black 1px solid;
    width: 200px;
    height: 275px;
    margin: 10px;
    background-color: #F7DBA7;

}

.title{
    font-weight: bolder;
}

.duration{
    font-size: small;
    margin-bottom: 3px;
}