.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 0;
}



.head{
  background-color:#442220 ;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainCont{
  display: flex;
  flex-wrap: wrap;
  border: solid #809848;
  box-sizing: border-box;
  justify-content: center;
  background-color: #B0CA87;
}

.title{
  font-size: xx-large;
  border: solid blue;
  width: auto;
  height: 60px;
  margin-left: 20px;
}

.inputField{
  margin-inline: 20px;
  height: 30px;
  width: 50vh;
  border-radius: 5px;
  font-size: larger;
  border:solid black 1px;
}

.logo{
  border: solid pink;
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
